.checkbox {
  appearance: none; /* removing default appearance */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid rgb(50, 104, 203);
  outline: none;
  cursor: pointer;
}

.checkbox.checked {
  background-color: cornflowerblue;
  position: relative;
}

.checkbox.checked::before {
  content: "✔";
  font-size: 1.3em;
  color: #fff;
  position: absolute;
  right: 2px;
  top: -4px;
}

.checkbox:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
  cursor: unset;
}

.checkbox:disabled + span {
  color: #c0c0c0;
}
