#wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

#search {
  flex: 1;
  margin: 0px 10px;
}

#search:disabled {
  cursor: not-allowed;
}

#filterOptionsTitle {
  font-size: 14px;
}
